{% extends 'base.html' %}
{% block title %} {{ detail.title }} {% endblock title %}
{% load static %}

{% block body %}

<article>
    <a href="{% url 'blog_detail' pk=detail.pk %}">{{ detail.title }}</a>
    <img src="{{ detail.post_image.url }}"/>
    <ul>
        <li>
            AUTHOR<b>:</b> {{ detail.author }}
        </li>
        <li>
            {{ detail.publish_date}}
        </li>
    </ul>
    <p>
        {{ detail.body|safe }}
    </p>
</article>

<article>
    <h2>Comments... </h2>
    <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
        <p><button type="submit" >COMMENT.</button></p>
        <input type="hidden" name="next" value="{% url 'blog_detail' pk=detail.pk %}"/>
    </form>

    {% for comment in detail.comments.all %}
    <ul>
        <li>
            AUTHOR<b>:</b> {{ comment.name }}
        </li>
        <li>
            {{ comment.date_added }}
        </li>
    </ul>
    <p>
        {{ comment.comment }}
    </p>
    {% endfor %}
</article>


        
{% endblock body %}