{% extends 'base.html' %}
{% block title %} VBELLOTECH {% endblock title %}
{% load static %}

{% block body %}

<div class="container">
    <div class="center-div">

        <div class="intro">
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-2 d-flex flex-column justify-content-center">
                  <h3>BELLO VICTOR AYOMIDE</h3>
                  <h5>Backend Developer proficient in PYTHON and DJANGO</h5>
                </div>
                <div class="col-lg-6 order-1 order-lg-1 hero-img">
                  <img src="{% static 'images/vbello.jpg' %}" class="" alt="">
                </div>
            </div>
        </div>
        <div class="about">

        </div>
        <div class="stack">
            <h3 class="topic">MY STACK</h3>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <img src="{% static 'images/python.png' %}"  alt="">
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="{% static 'images/django.png' %}"  alt="">
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="{% static 'images/html.png' %}"  alt="">
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="{% static 'images/css.png' %}"  alt="">
                </div>
                <div class="col-lg-3 col-md-6">
                    <img src="{% static 'images/bootstrap.png' %}"  alt="">
                </div>
            </div>
        </div>
        <div class="project">
            <h3 class="topic">MY PROJECTS</h3>
            {% for item in projects %}
            <article>
                <div class="up">
                    <h4>{{ item.project_name }}</h4>
                    <br><br>
                    <a href="#"><img src="blog.png" /></a>
                </div>
                <div class="down">
                <p>
                    {{ item.project_description }}
                </p>

                   <ul>
                    <span>STACK:</span>
                        <li>Python</li>
                        <li>Django</li>
                        <li>PostgreSQL</li>
                    </ul>
                    <div id="space">
                        <a href="{{ project.project_url }}" class="pb">DEMO</a>
                        <a href="{{ project.github_url }}" class="pb">GITHUB</a>
                    </div>
                </p>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="blog">

        </div>
        <div class="links">

        </div>
    </div>
</div>



{% endblock body %}
