{% extends 'base.html' %}
{% block title %} HOMEPAGE {% endblock title %}
{% load static %}

{% block body %}


<header >

    <div class="bg-text">
            <b>HI</b>
            <br>

            I'M BELLO VICTOR AYOMIDE
            <br>A BACK-END DEVELOPER
    </div>
</header>

<section>
    <h2>ABOUT ME.</h2>
    <br>
    <p>
        I AM A SELF DRIVEN AND HARD WORKING BACKEND DEVELOPER WHO IS CURIOUS ABOUT LEARN THINGS ESPECIALLY ABOUT TECH AND COMPUTERS.
        MY LOVE FOR COMPUTERS STARTED WHEN I WAS ABOUT 6 YEARS OLD. MY DAD BROUGTH A DESKTOP COMPUTER AND HE INVITED ONE OF MY COUSINS TO TEACH ME AND MY SIBLINGS HOW TO USE IT.
        I KIND OF FIGURED OUT MOST THINGS ON MY OWN BY JUST TRYING DIFFERENT THINGS ON THE COMPUTER.  BUT WHAT THIS COUSIN TAUGHT ME WERE THE BASICS THAT FUELED MY INTEREST.
    </p>
    <br>
    <p>
        I STARTED CODING IN 2019 WHEN THIS SAME COUSIN TOLD ME TO DO SO DURING ONE OF OUR REGULER CHATS. HE SENT ME TUTORIALS AND ALSO TOLD ME TO VISIT YOUTUBE FOR MORE TUTORIALS.
        I DABBLED AROUND FOR SOME TIME BEFORE I FINALLY DECIDED TO STICK TO BACKEND DEVDELOPMENT.
        I AM CURRENTLY BUILDING A STARTUP WITH TWO FRIENDS AND LEARNING MORE ABOUT BACKEND DEVELOPMENT AND SOFTWARE ENGINEERING.
    </p>
</section>

<section>
    <h2>SKILLS</h2>
    <br>
    <div class="skills">
        <img src="{% static 'images/python.png' %}"/>
        <img src="{% static 'images/django.png' %}"/>
        <img src="{% static 'images/html.png' %}"/>
        <img src="{% static 'images/css.png' %}"/>
        <img src="{% static 'images/bootstrap.png' %}"/>
        <img src="{% static 'images/javascript.png' %}"/>
    </div>
</section>

<div class="container-fluid" >
    <div class="row">
        <div id="space">
            <div class="col-xs-6"><a href="#" class="pb">PROJECTS</a></div>
        <div class="col-xs-6"><a href="#" class="pb">BLOGS</a></div>
        </div>

    </div>
</div>

<section>
    <form method="POST" action="{% url 'contact' %}">
        <div class="heading-title text-center">
            <h2>Contact Me</h2>
        </div>
		{% csrf_token %}
         <div class="col-md-12">
            <div class="col-md-12">
                <input type="text" placeholder="Your Name" id="name" class="form-control" name="name" required data-error="Please enter your name">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="col-md-12">
                <input type="text" placeholder="Your Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <br>
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" id="message" name="message" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
                <div class="help-block with-errors"></div>
            </div>
        </div>
		<p class="text-right"><button type="submit" class="btn btn-primary">SEND EMAIL</button></p>
	</form>


</section>


{% endblock body %} 