<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styling/style.css' %}">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{% block title %}  {% endblock title %}</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="#" class="links">HOME</a> </li>
            <li><a href="{% url 'project' %}" class="links">PROJECTS</a> </li>
            <li><a href="{% url 'blog_list' %}" class="links">BLOG</a> </li>
        </ul>
    </nav>

{% block body %}

{% endblock body %}


<footer>
    <div class="foot">
        <ul>
            <li>
                <a href="#">LINKEDIN</a>
            </li>
            <li>
                <a href="#">Github</a>
            </li>
            <li>
                <a href="#">TWITTER</a>
            </li>
        </ul>
    </div>
    <hr>
    <p>
        Copyright  ©  vbellotech
    </p>
</footer>

<script src="{% static 'app.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>


</body>
</html>