
        .center-div{
            margin: 5vh 10%;
            border: 2px solid #faf9f8;
            padding: 2%;
            border-radius: 15px;
        }
        .intro {
            height: 30vh;
            padding: 5px;
        }
        .intro img {
            height: 100%;
            width: 80%;
            max-height: 25vh;
        }
        .intro h3 {
            margin: 0;
            font-size: 30px;
            font-weight: 500;
        }
        .intro h5 {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
        }

        .stack {
            margin-top: 10vh;
            padding: 2%;
        }

        .stack img {
            height: auto;
            width: 70%;
        }

        .topic {
            margin: 0;
            font-size: 40px;
            font-weight: 600;
        }

        article {
            display: flex;
            margin-bottom: 10vh;
            height: auto;
            align-items: space-between;
        }
        article .up{
            width: 50%;
            margin-right: 5px;
            padding: 4%;
        }
        article .up a{
            text-decoration: none;
            color: black;
            margin-top: 5px;
        }

        article img{
            max-height: 50vh;
            max-width: 100%;
            width: 100%;
        }

        article .down{
            font-size: 20px;
            margin-left: 5px;
            padding: 35px 5px;
        }
        article .down ul{
            display: flex;
            align-items: left;
            list-style: none;
            margin-left: 0;
        }
        article .down ul span{
            font-weight: 500;
        }
        article .down ul li{
            margin-right: 22px;
            padding: 2px 10px;
            border-radius: 10px;
            font-size: 18px;
            font-weight: 500;
        }

        #space {
            height: 10vh;
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2px 30px 2px 30px;
        }

        #space a{
            color: black;
            font-weight: 500;
        }
        @media (max-width: 768px) {
            .intro h3 {
            font-size: 20px;
            }
            .intro h5 {
                margin: 0;
                font-size: 15px;
            }
            .center-div{
                margin: 5vh 2%;
            }
            .stack img {
                height: auto;
                width: 65%;
            }
            .topic {
                font-size: 25px;
                margin:5vh 0;
            }
            article {
                display: inline-block;
            }
            article .down{
                font-size: 18px;
                margin-left: 0;
                margin-top: 6px;
                padding: 2%;
            }
            article .down ul li{
                margin-right: 8px;
            }
            article .up{
            width: 75%;
            }
        }
